force-app/main/default/flows/doca_Create_Work_Item_Junction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_To_WIJ_Collection</name>
        <label>Add To WIJ Collection</label>
        <locationX>862</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>WIJCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WIJ_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubmitComponents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_WIJ_Record</name>
        <label>Fill WIJ Record</label>
        <locationX>1132</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Change_Submission_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Change_Submission_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSubmitComponents.sf_devops__Change_Submission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Work_Item_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Work_Item_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSubmitComponents.doca_WI_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Submit_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIJ_Record.doca_Source_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sf_devops__Source_Component__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_WIJ_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_existing_WIJ</name>
        <label>Check existing WIJ</label>
        <locationX>1047</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>LoopSubmitComponents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWIJs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_WIJ_Record</targetReference>
            </connector>
            <label>not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concurrent_WI_found</name>
        <label>Concurrent WI found</label>
        <locationX>475</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubmitComponentInAnotherChangeSubmission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSubmitComponents</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fSourceComponentList</name>
        <dataType>String</dataType>
        <expression>IF(FIND({!$Record.sf_devops__Source_Component__c}, {!$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__r.doca_Concurring_Work_Items_List__c}) &gt;0, 
{!$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__r.doca_Concurring_Work_Items_List__c},
{!$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__r.doca_Concurring_Work_Items_List__c}&amp;BR()&amp;{!$Record.sf_devops__Source_Component__c})</expression>
    </formulas>
    <interviewLabel>doca_Create_Work_Item_Junction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>doca_Create_Work_Item_Junction</label>
    <loops>
        <name>LoopSubmitComponents</name>
        <label>LoopSubmitComponents</label>
        <locationX>649</locationX>
        <locationY>502</locationY>
        <collectionReference>GetSubmitComponentInAnotherChangeSubmission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetWIJs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WIJ_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WIJ_Records</name>
        <label>Create WIJ Records</label>
        <locationX>295</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_WI</targetReference>
        </connector>
        <inputReference>WIJCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetSubmitComponentInAnotherChangeSubmission</name>
        <label>GetSubmitComponentInAnotherChangeSubmission</label>
        <locationX>176</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Concurrent_WI_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sf_devops__Source_Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Source_Component__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>doca_WI_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sf_devops__Change_Submission__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>doca_WI_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <filters>
            <field>doca_WI_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NEVERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sf_devops__Submit_Component__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWIJs</name>
        <label>GetWIJs</label>
        <locationX>834</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_existing_WIJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doca_Source_Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Source_Component__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>doca_Work_Item_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>doca_Work_Item_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopSubmitComponents.doca_WI_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>doca_Work_Item_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WI</name>
        <label>Update WI</label>
        <locationX>515</locationX>
        <locationY>814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Change_Submission__r.sf_devops__Work_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>doca_Concurring_Work_Items_List__c</field>
            <value>
                <elementReference>fSourceComponentList</elementReference>
            </value>
        </inputAssignments>
        <object>sf_devops__Work_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>528</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>GetSubmitComponentInAnotherChangeSubmission</targetReference>
        </connector>
        <object>sf_devops__Submit_Component__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WIJ_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>doca_Work_Item_Junction__c</objectType>
    </variables>
    <variables>
        <name>WIJCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>doca_Work_Item_Junction__c</objectType>
    </variables>
</Flow>
